{% extends 'layout.html' %}

{% block title %}Transferencias no procesadas - Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Transferencias no procesadas</h2>
    <form id="filter-form" method="GET" action="{{ url_for('dashboard') }}" class="form-inline mb-4">
        <div class="form-group mx-sm-3 mb-2">
            <label for="tabla" class="sr-only">Tabla</label>
            <select class="form-control" id="tabla" name="tabla">
                <option value="TR_OUT" {% if tabla_seleccionada == 'TR_OUT' %}selected{% endif %}>Transferencias Salientes (TR_OUT)</option>
                <option value="TR_IN" {% if tabla_seleccionada == 'TR_IN' %}selected{% endif %}>Transferencias Entrantes (TR_IN)</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Consultar</button>
        <a href="{{ url_for('exportar_excel', tabla=tabla_seleccionada) }}" class="btn btn-success mb-2 ml-2">Exportar a Excel</a>
    </form>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    {% if tabla_seleccionada == 'TR_OUT' %}
                        <th scope="col">Fecha y hora</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Remito</th>
                        <th scope="col">Material Applog</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Posición</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Error</th>
                    {% elif tabla_seleccionada == 'TR_IN' %}
                        <th scope="col">Fecha y hora</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Material Applog</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Error</th>
                    {% endif %}
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for fila in datos %}
                <tr data-fila='{{ fila | tojson }}'>
                    {% if tabla_seleccionada == 'TR_OUT' %}
                        <td>{{ fila['fecha'].strftime('%d/%m/%Y %H:%M:%S') }}</td>
                        <td>{{ fila['documento'] }}</td>
                        <td>{{ fila['remito'] }}</td>
                        <td>{{ fila['material_applog'] }}</td>
                        <td>{{ fila['cantidad'] }}</td>
                        <td>{{ fila['posicion'] }}</td>
                        <td>{{ fila['origen'] }}</td>
                        <td>{{ fila['destino'] }}</td>
                        <td>{{ fila['error'] }}</td>
                    {% elif tabla_seleccionada == 'TR_IN' %}
                        <td>{{ fila['fecha'].strftime('%d/%m/%Y %H:%M:%S') }}</td>
                        <td>{{ fila['documento'] }}</td>
                        <td>{{ fila['material_applog'] }}</td>
                        <td>{{ fila['cantidad'] }}</td>
                        <td>{{ fila['destino'] }}</td>
                        <td>{{ fila['error'] }}</td>
                    {% endif %}
                    <td><button class="btn btn-primary btn-sm procesar-btn">Procesar</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Manejar el evento de procesamiento de la transferencia
    const procesarBtns = document.querySelectorAll('.procesar-btn');
    procesarBtns.forEach(function(button) {
        button.addEventListener('click', function() {
            const row = button.closest('tr');
            const fila = JSON.parse(row.getAttribute('data-fila'));

            fila.tabla = document.getElementById('tabla').value;
            button.disabled = true;

            fetch("/procesar", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(fila)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    mostrarMensaje("Transferencia procesada correctamente.", "success");
                    row.remove();
                } else {
                    mostrarMensaje(data.message, "danger");
                    button.disabled = false;
                }
            })
            .catch(error => {
                console.error("Error:", error);
                mostrarMensaje("Error en la solicitud al servidor", "danger");
                button.disabled = false;
            });
        });
    });

    function mostrarMensaje(mensaje, categoria) {
        $('#messageContent').text(mensaje);
        if (categoria == 'success') {
            $('#messageModalLabel').text("Éxito");
            $('#messageModal .modal-content').addClass('bg-success text-white');
        } else if (categoria == 'danger') {
            $('#messageModalLabel').text("Error");
            $('#messageModal .modal-content').addClass('bg-danger text-white');
        } else if (categoria == 'warning') {
            $('#messageModalLabel').text("Advertencia");
            $('#messageModal .modal-content').addClass('bg-warning text-dark');
        } else if (categoria == 'info') {
            $('#messageModalLabel').text("Información");
            $('#messageModal .modal-content').addClass('bg-info text-white');
        }
        $('#messageModal').modal('show');
        setTimeout(function() {
            $('#messageModal').modal('hide');
        }, 2500);
    }
});
</script>
{% endblock %}
