{% extends 'layout.html' %}

{% block title %}Control de Inventarios - Inicio{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Bienvenido, {{ user }}</h1>
    <div class="row">
        <!-- Tarjeta para Transferencias No Procesadas -->
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Transferencias No Procesadas</h5>
                    <p class="card-text">Accede a la aplicación para gestionar las transferencias que aún no han sido procesadas.</p>
                    <a href="{{ url_for('dashboard') }}" class="btn btn-primary">Ir a Transferencias</a>
                </div>
            </div>
        </div>
        <!-- Tarjeta para Ajuste Metalúrgico -->
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Ajuste Metalúrgico</h5>
                    <p class="card-text">Accede a la aplicación para realizar ajustes en los datos metalúrgicos.</p>
                    <a href="{{ url_for('ajuste_meta') }}" class="btn btn-primary">Ir a Ajuste Metalúrgico</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
