{% extends 'layout.html' %}

{% block title %}Control de Inventarios - Inicio{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">¡Hola, {{ user }}!</h1>
    <div class="row justify-content-center">
        <!-- Tarjeta para Transferencias No Procesadas -->
        <div class="col-md-6 mb-4">
            <a href="{{ url_for('dashboard') }}" class="card h-100 card-modern text-decoration-none">
                <div class="card-body text-center">
                    <h5 class="card-title">Monitor de transferencias</h5>
                    <p class="card-text">Accede a la aplicación para gestionar las transferencias que aún no han sido procesadas en SAP.</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
