{% extends "layout.html" %}

{% block title %}
    Cargar Archivo - Control de Inventario
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Cargar Archivo</h2>
    <div class="d-flex justify-content-center">
        <input type="file" id="file-input" accept=".xls, .xlsx" class="form-control" required style="max-width: 300px;">
        <button id="preview-btn" class="btn btn-primary ml-3">Vista Previa</button>
    </div>

    <div id="preview-container" class="mt-4" style="display: none;">
        <h2 class="text-center">Previsualización de Datos</h2>
        <div id="data-table-container" class="table-responsive"></div>
        <div id="pagination-container" class="d-flex justify-content-center mt-3" style="display: none;">
            <button id="prev-btn" class="btn btn-secondary">Anterior</button>
            <span id="pagination-info" class="mx-2"></span>
            <button id="next-btn" class="btn btn-secondary">Siguiente</button>
        </div>
        <div id="line-count" class="text-center mt-3"></div>
        <div class="d-flex justify-content-center">
            <button id="send-btn" class="btn btn-danger mt-3" style="display: none;">Hacer Ajuste</button>
        </div>
    </div>
</div>

<div id="overlay" class="overlay"></div>
<div id="popup-error" class="popup popup-error">
    <p id="popup-error-message"></p>
    <button class="popup-close-btn" onclick="closeErrorPopup()">Cerrar</button>
</div>
<div id="popup-message" class="popup-message" style="display: none;">Realizando Ajustes</div>
{% endblock %}

{% block scripts %}
{% endblock %}
